{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>数据分析</title>
    <link rel='icon' href="{% static 'sacms/logo.jpg' %}" type='image/x-ico' /> 

		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- 可选的Bootstrap主题文件（一般不用引入） -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<link href="{% static 'sacms/index.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'sacms/data_ana_form.css' %}">
    <link href="{% static 'sacms/index.css' %}" rel="stylesheet">
  </head>

  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
           <!-- Main jumbotron for a primary marketing message or call to action -->
    <a  href="/signup" style="float:right;padding:10px;font-size:20px">注册</a>
    <a  href="/login" style="float:right;padding:10px;font-size:20px">登录</a>
    <div class="jumbotron">
      <div class="container">


        <div class="col-md-2 logo">
          <img src="{% static 'sacms/logo.jpg' %}" height="130">
        </div>
        <div class="col-md-10">
          <p class="chn-title"><b>国家重点研发计划——重要热带病传播相关的入侵媒介及其病原体的生物学特性研究</b></p>
          <div class="row">
            <div class="col-md-9 eng-title">
              <p><b>National Research and Development Plan: Research on Biological Characteristics of the Tropical Disease Related Invasion vectors and Pathogens</b><p>
            </div>
            <div class="col-md-3 search-box">
              <div id="custom-search-input">
                <div class="input-group col-md-12">
                  <input type="text" class="  search-query form-control" placeholder="搜索" />
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                      <span class=" glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>

          </div>

        </div>




          <!-- <div class="col-md-3 search-box">
            <div class="row">
              <div class="col-md-offset-1 col-md-11">

                <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <input type="text" class="  search-query form-control" placeholder="搜索" />
                    <span class="input-group-btn">
                      <button class="btn btn-danger" type="button">
                        <span class=" glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </div>

              </div>
            </div>
          </div> -->
      </div>

      <div class="container">
        <div class="blog-masthead">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <nav class="blog-nav" >
                <a class="blog-nav-item" href="{% url 'index'%}">首页</a>
                <a class="blog-nav-item" href="{% url 'newsfeed' %}">新闻动态</a>
                <a class="blog-nav-item" href="{% url 'meetings' %}">学术交流</a>
                <a class="blog-nav-item" href="#">通知公告</a>
                <a class="blog-nav-item active" href="{% url 'data' %}">数据分析</a>
                <a class="blog-nav-item" href="{% url 'groups'%}">研究团队</a>
              </nav>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>

    <div class="container">
      <div class="row">
         <div class="sidebar col-sm-2 ">
            <div class="span3">
              <div class="well" style="padding:10px 0;margin-top:20px;">
               <ul class="nav nav-list">
                  <li class="divider"></li>
                  <li ><a href="{% url 'upload' %}"><i class="icon-white icon-home"></i>数据上传</a></li>
                  <li ><a href="{% url 'download' %}"><i class="icon-white icon-home"></i>数据下载</a></li>
                  <li class="active"><a href="http://www.drugfuture.com/cndrug/"><i class="icon-flag"></i>数据库链接</a></li>
                  <li><a href="http://bbs.pinggu.org/thread-2172224-1-1.html"><i class="icon-folder-open"></i>常用数据分析工具</a></li>
               </ul>
              </div>
           </div>
         </div>
        <div class="col-sm-7 project-introduction">
          <table id="customers">
<tr>
  <th>数据名称</th>
  <th>发布团队</th>
  <th>发布日期</th>
  <th>操作</th>
  <th>详情</th>
</tr>
<tr>
<td>Alfreds Futterkiste</td>
<td>Maria Anders</td>
<td>Germany</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr class="alt">
<td>Berglunds snabbköp</td>
<td>Christina Berglund</td>
<td>Sweden</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr>
<td>Centro comercial Moctezuma</td>
<td>Francisco Chang</td>
<td>Mexico</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr class="alt">
<td>Ernst Handel</td>
<td>Roland Mendel</td>
<td>Austria</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr>
<td>Island Trading</td>
<td>Helen Bennett</td>
<td>UK</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr class="alt">
<td>Königlich Essen</td>
<td>Philip Cramer</td>
<td>Germany</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr>
<td>Laughing Bacchus Winecellars</td>
<td>Yoshi Tannamuri</td>
<td>Canada</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr class="alt">
<td>Magazzini Alimentari Riuniti</td>
<td>Giovanni Rovelli</td>
<td>Italy</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr>
<td>North/South</td>
<td>Simon Crowther</td>
<td>UK</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
<tr class="alt">
<td>Paris spécialités</td>
<td>Marie Bertrand</td>
<td>France</td>
<td><a href="#">下载</a></td>
<td><a href="#">查看</a></td>
</tr>
</table>


				</div>
      </div> <!-- /row -->

      <hr>
      <footer class="footer">
        <div class="row">
          <div class="col-sm-8">
            <div class="col-sm-7 project-introduction">
              <p><b>相关链接</b></p>
              <p><a href="http://zssom.sysu.edu.cn/">中山大学中山医学院</a></p>
              <p><a href="http://www.ipd.org.cn/">中国疾病预防控制中心寄生虫病预防控制所</a></p>
              <p><a href="http://life.fudan.edu.cn/ ">复旦大学生命科学学院</a></p>
              <p><a href="http://www.ipd.org.cn/">南方医科大学公共卫生与热带医学学院</a></p>      
            </div>
            <div class="col-sm-5">
              <p><b>资源共享</b></p>
              <p><a href="http://www.chinaias.cn/wjPart/index.aspx ">中国外来入侵物种数据库</a></p>
              <p><a href="http://www.iucngisd.org/gisd/">全球入侵物种数据库GISD</a></p>
              <p><a href="https://www.vectorbase.org/">人类病原体无脊椎动物媒介生物信息资源数据库（VectorBase）</a></p> 
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class=" QRcode-reminder">
              <p>请关注我们的公众号：</p>
            </div>
            <!-- <div class="col-sm-4"> -->
              <img src="{% static 'sacms/QRcode.png' %}" height="105">
            <!-- </div> -->
          </div>          
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <p>Copyright &copy; 2016 <a href="http://www.sysu.edu.cn/2012/cn/index.htm">中山大学</a> &nbsp&nbsp&nbsp
          联系我们：<a href="mailto:wuzhd@mail2.sysu.edu.cn">wuzhd@mail2.sysu.edu.cn</a></p> 
          <p>地址：中国广州市中山二路74号中山大学北校区（邮政编码：510080）</p>         
        </div>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
