{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>upload</title>
    <link rel='icon' href='pics/logo.jpg' type='image/x-ico' />
     <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'sacms/bootstrap.min.css' %}">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="{% static 'sacms/bootstrap-theme.min.css' %}">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="{% static 'sacms/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sacms/upload_css/upload.css' %}">
    <script src="{% static 'sacms/js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'sacms/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'sacms/index.css' %}" rel="stylesheet">

  </head>
  <body>
    <a  href="/logout" style="float:right;padding:10px;font-size:20px;" id="logout">change Account</a>
    <a  href="/signup" style="float:right;padding:10px;font-size:20px">registe</a>
    <a  href="/login" style="float:right;padding:10px;font-size:20px">login</a>
    <a  href="{% url 'upload' %}" style="float:right;padding:10px;font-size:20px">中文</a>
  	<div class="container">
  	<div class="row upload">
      <form enctype="multipart/form-data" action="./upload_file" method="post" class="upload">  {% csrf_token %}
        <input type="file" name="myfile" style="margin:0em 0em 0em 5em "><br>
        <label>file name:</label><input type="text" name="file_name" size=88><br /><br />
        <label>team:</label><input type="text" name="file_team" size=88><br /><br />
        <label>country:</label><input type="text" name="file_country" size=88><br /><br />
        <label>description:</label><textarea rows="10" cols="90" name="file_description" style="vertical-align:top"></textarea>
        <br><br>
        <p><input type="submit" value="submit" style="margin:0em 0em 0em 5em; width:158px;height:54px"></p>
      </form>
</div>
  </body>
</html>


